.banksWrapper
    height: 100vh
    display: flex
    align-items: center
    .bankData
        font-family: 'Montserrat-Regular'
        border: solid 1px #fff 
        cursor: pointer
    .info
        border: solid 1px #fff
    form
        width: 100%
div
    color: #fff
    font-size: 22px
.head
    div
        text-align: center
        padding: 10px 0px
        font-family: 'Montserrat-Bold'
        .info
            border: solid 1px #fff 
