body
    padding: 0
    box-sizing: border-box
.App
    min-height: 100vh
    background: url('./assets/background.png')
    .overlay
        background: rgba(0,0,0,0.4)
        .logout
            font-size: 16px
            margin: 0
            text-align: right
            padding: 10px 10px 0 0
            cursor: pointer
.notificationCloseButton
    border: none
    background: none

    svg
        color: #fff
div.wrongroute
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    font-size: 60px
    color: white
#form-dialog-title
    color: #000
.formDialog
    color: #000 
#client-snackbar
    font-size: 16px
.Mui-disabled 
    opacity: 1 !important
.MuiDialogContent-root:first-child
    margin-bottom: 30px !important
@media screen and (max-width:768px)
    .MuiDialogContent-root
        width: 100vw !important
    .MuiDialog-paperWidthSm
        max-width: 100vw !important
        width: 100vw !important
        margin: 0 !important
        padding: 0 !important