body
    padding: 0
    box-sizing: border-box
.App
    min-height: 100vh
    background: url('./assets/background.png')
    .overlay
        background: rgba(0,0,0,0.4)
        & > h2
            margin: 0
            text-align: center
            transform: translateY(70px)
.notificationCloseButton
    border: none
    background: none

    svg
        color: #fff
div.wrongroute
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    font-size: 60px
    color: white
#form-dialog-title
    color: #000
.formDialog
    color: #000 
#client-snackbar
    font-size: 16px
